.foo{
	width: 325px;
	background-color: #eeeeee;
	padding: 30px;
	height: 350px;
}
input{
	padding: 10px;
	height: 25px;
	width: 300px;
	margin-top: 10px;
}
.group_input{
	margin: 10px 10px 10px 0px;
}
.row{
	margin: 10px 10px 10px 12px;
	padding: 10px;
	height: 50px;
}